@import '../../assets/style/Imports.scss';


.section__blue{
    background: -o-linear-gradient(312.36deg,#81b3ff 14.8%,#9cc7ff 97.97%);
    background: linear-gradient(137.64deg,#81b3ff 14.8%,#9cc7ff 97.97%);
    position: relative;
    z-index: 1;
}

.doctor {
    color: #fff;
    height: auto;
    margin-top: -8%;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    padding-top: 145px;
    padding-bottom: 10vh;
    .doctor-body {
        height: 150vh;
        @include displayf($df, $fdr, $jcsb, $aifs);
        .doctor-body__title {
            height: 100%;
            width: 60%;
            padding-top: 20vh;
            @include displayf($df, $fdc, $fds, $aifs);
            .doctor-body__link {
                color: #81b3ff;
            }
        }
        .doctor-body__img {
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            img {
                margin-top: 50%;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .doctor {
        margin-top: 40%;
        padding-top: 10%;
        padding-bottom: 1vh;
        z-index: 50;
        margin-top: -30px;
        .doctor-body{
            height: auto;
            padding: 0;
            @include displayf($df, $fdc, $jcsb, $aifs);
            .doctor-body__title {
                padding-top: 10%;
                width: 100%;
                .doctor-body__link {
                    margin : 0 auto;
                    text-align: center;
                }
            }
            .doctor-body__img {
                img {
                    margin-top: 50%;
                    width: 80%;
                }
            }
        }
        
    }
}