@import '../../assets/style/Imports.scss';
@import '../header/Header.scss';


.modal-header {
    display: none;
}


@media screen and (max-width: 420px) {
    .modal-header.modal-header-active {
        transform: scale(1);
    }
    .modal-header{
        width: 100%;
        height: 100vh;
        background-color: #f5f6f9;
        top: 0;
        left: 0;
        display: flex;
        position: fixed;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        transform: scale(0);
        outline: 2vh solid white;
        margin-top: -2vh;
        overflow: auto;
        a, span {
            font-size: 5vw;
        }
        .modal-header-body {
            width: 100%;
            height: 80%;
            margin-top: 20%;
            margin-bottom: 20%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            .modal-navigation {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .modal-navigation__servise, .modal-navigation__clinick {
                    width: 80vw;
                    padding: 13px 1px;
                    margin: 2%;
                }
                .modal-navigation__servise {
                    span {
                        color: $orangeColor;
                    }
                }
                .modal-navigation__clinick  {
                    span {
                        color: $greenColor;
                    }
                }
                .modal-service {
                    flex-direction: column;
                    margin: 2%;
                    width: 100%;
                    a {
                        margin: 2%;
                    }
                    
                }
                .modal-links {
                    margin-top: 5%;
                }
                .mod-service, .mod-clinick {
                    overflow: hidden;
                    position: relative;
                    transition: 2s all;

                    animation-fill-mode: both;
                    animation: 1s showServiseAndClinick  ease-out;
                    a {
                        color: $orangeColor;
                    }
                }
                
                @keyframes showServiseAndClinick {
                    0%{height:  0%; opacity: 0;}
                    100%{height: 100%; opacity: 1;}
                }

                .mod-clinick {
                    a {
                        color: $greenColor;
                    }
                }
                
            }
            .modal-search {
                width: 100%;
                flex-direction: column;
                justify-content: flex-start;
                padding: 3vw;
                .modal-search-title{
                    display: flex;
                    justify-content: flex-start;
                    & h1 {
                        font-size: 26px;
                        font-weight: 700;
                        line-height: 40px;
                    }
                }
                .title-search {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    border-radius: 30px;
                    margin: 2%;
                    height: 7vh;
                    background-color: #f2fffd;
                    transition: 1s;
                    box-shadow: -5px -5px 13px 0px rgba(34, 60, 80, 0.24);
                    & input {
                        color: white;
                        font-size: 20px;
                        &:hover {
                            text-shadow: 0px 4px 14px rgba(206,206,206,0.73);
                        }
                    }
                    & img {
                        width: 25px;
                        height: 25px;
                    }
                    &:hover {
                        background-color: #fab59ab4;
                        box-shadow: 5px 5px 13px 0px rgba(34, 60, 80, 0.24);
                    }
                }
                .mod-search-title {
                    margin-top: 20%;
                    transition: 1s;

                    animation: 2s mod-search-titl ease-out;
                }
                @keyframes mod-search-titl {
                    0%{opacity: 0;}
                    100%{opacity: 1;}
                }
            }
            .modal-contact {
                width: 100%;
                padding: 5%;
                .modal-contact-title{
                    text-align: left;
                    width: 50%;
                    & h1 {
                        font-size: 26px;
                        font-weight: 700;
                        line-height: 40px;
                    }
                }
                .modal-contact-phone {
                    margin-top: 5%;
                    & h1 {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 40px;
                        color: $orangeColor;
                    }
                }
                .modal-contact-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    margin-top: 10%;
                    & img {
                        width: 50%;
                    }
                }
            }
            .modal-active {
                transition: 1s;
                animation: 2s modal-header-active cubic-bezier(0.19, 1, 0.22, 1);
            }

        }
    }  
    .arrow {
        border: solid #ffa180;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 5px;
        transition: 0.3s;
    }

    .arrow-green {
        border: solid $greenColor;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 5px;
        transition: 0.3s;
    }
}


